%p
  %b Fee paid:
  = format_true_false @membership.fee_paid
%p
  %b Tshirt:
  = format_true_false @membership.tshirt

= link_to 'Edytuj', edit_membership_path(@membership), { class: 'btn btn-default' }
= link_to 'Wstecz', memberships_path, { class: 'btn btn-default' }
