%h1 Statystyki rejestracji

%table.table.table-striped#memberships
  %thead
    %tr
      %th Dzień tygodnia
      %th Ilość

  %tbody
    - @lista.each do |wjersz|
      %tr
        %td= format_dow(wjersz[0])
        %td= wjersz[1]