%main
  .container
    .row
      .col.s12
        .card
          .card-content
            %span.card-title
              = @period.academic_year
            Fee
            = @period.fee
            Info
            = @period.info

