%h1.center Witaj w systemie Elektronicznej Rejestracji Członków!
%br
Typowe zadania:
%ul
  %li
    = link_to "Zarejestruj nowego członka", new_membership_path
  %li
    = link_to "Zarejestruj wypożyczenie", new_book_lease_path
  %li
    = link_to "Wygeneruj listę maili do mailingu", generate_mailing_path
Ciekawostki:
%ul
  %li
    = link_to "Statystyki rejestracji - dni tygodnia", memberships_stats_path