%h1.center Hello, it's ERC - Electronic Registration Center!
%br
Typical tasks:
%ul
  %li
    = link_to "Enroll new member", new_membership_path
  %li
    = link_to "Generate mailing list (may be defunct)", generate_mailing_path
