%hr.footer-margin
%footer
  %p.center
    %span.glyphicon.glyphicon-search.glyphicon.glyphicon-copyright-mark
    Adam Piekarczyk & Daniel Skowroński &
    %a(href='http://www.ksi.ii.uj.edu.pl')KSI UJ
  %p.center
    Kontakt:
    %a(href='mailto:admin@ksi.ii.uj.edu.pl')admin@ksi.ii.uj.edu.pl